[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/thanksunix/dmlc-core
[submodule "rabit"]
	path = rabit
	url = https://github.com/thanksunix/rabit
[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub
